.wp-block-insert-post-block-content {

	.is-selected > & {

		&::after {
			content: "";
			background-image: repeating-linear-gradient(135deg, transparent, transparent 8px, #fff 0, #fff 16px);
			position: absolute 0;
			background-color: #d6d6d6;
			opacity: 0.1;
		}
	}

	.components-placeholder {

		.components-base-control {
			width: 100%;

			&__label {
				display: block;

				+ select {
					min-width: 100%;
				}
			}
		}
	}

	.components-notice {
		width: 100%;
		margin: 0 0 20px 0;
	}
}
